/*
Admisiones
*/
#admisiones section#header {
    background: url(../img/bg-admisiones.webp);
    height: 535px;
    margin-top: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E4F8F7;
}
section#licenciaturas .row.contenedor-admision {
    background: url(../img/bg-admisiones-lic.webp);
    min-height: 340px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 26px;
    color: #e3e3e3;
    position: relative;
}
#admisiones section#maestrias {
    /* height: 478px; */
}
section#doctorado .row.contenedor-admision {
    background: url(../img/bg-admisiones-lic.webp);
    min-height: 340px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 26px;
    color: #e3e3e3;
    position: relative;
}
section#maestrias .row.contenedor-admision {
    background: url(../img/bg-admision-doctorado.svg);
    min-height: 340px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 26px;
    color: #e3e3e3;
    position: relative;
    height: 478px;
}

#admisiones ul.requisitos {
    color: #e3e3e3;
    font-weight: 200;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 30px;
}
#admisiones ul.requisitos li {
    list-style: none;
    line-height: 28px;
}
#admisiones ul.requisitos li::before {
    content: "\25A0";
    color: cyan;
    font-size: 14px;
}
#requisitos-inscripcion i.cyan.uil.uil-angle-right {
    color: var(--primario-cyan);
}
section#preguntas-frecuentes {
    background: var(--primario--azul-obscuro);
    color: var(--primario-cyan);
    padding: 40px;
}
#admisiones section#maestrias .contenedor-admision {
    position: relative;
}
img.x-admision {
    float: right;
    display: block;
}
.inicia-proceso {
    position: absolute;
    bottom: 24px;
    right: 25px;
    width: 140px;
    z-index: 5;
    text-align: right;
}
.inicia-proceso a {
    color: var(--primario-cyan)!important;
    text-decoration: underline!important;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}
p.preguntas {
    color: #f6f6f6;
    font-weight: 300;
    font-family: 'Nunito Sans';
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 25px;
}
h1.preguntas-frecuentes {
    font-family: var(--familia-titulos);
    font-size: 36px;
    letter-spacing: 0.58px;
    font-weight: 800;
    line-height: 46px;
}

.myaccordion {
    margin-bottom: 22px;
}
.myaccordion button.d-flex.align-items-center.justify-content-between.btn.btn-link {
    width: 100%;
}
.myaccordion button.d-flex.align-items-center.justify-content-between.btn.btn-link {
    width: 100%;
    text-align: left;
}
button.d-flex.align-items-start.justify-content-between.btn.btn-link.collapsed {
    text-align: left;
}
.myaccordion .card-header {
    background-color: var(--primario--azul-obscuro);
    border-bottom: 1px solid var(--primario-cyan);
}
.myaccordion button.d-flex {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.07px;
}
.myaccordion button.d-flex[aria-expanded="true"] {
    color: cyan;
}
.myaccordion button.d-flex[aria-expanded="true"]:hover {
    color: cyan;
    text-decoration: none;
}
button.d-flex.align-items-start.justify-content-between.btn.btn-link {
    text-align: left;
}
button.d-flex.align-items-start.justify-content-between.btn.btn-link:hover {
    text-align: left;
    text-decoration: none;
}
.myaccordion p {
    font-family: 'Nunito Sans';
    color: #f6f6f6;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    letter-spacing: 0.05px;
}
.myaccordion .card-header {
    padding: .75rem 0rem;
}
.myaccordion .card-body {
    background: var(--primario--azul-obscuro);
}
.myaccordion .ver-mas i.uil.uil-plus {
    color: var(--primario-cyan);
}
.myaccordion button.d-flex[aria-expanded="true"] .ver-mas .uil-plus {
    display: none;
}
.myaccordion button.d-flex[aria-expanded="true"] .ver-mas .uil-minus {
    display: block;
}
.myaccordion button.d-flex[aria-expanded="false"] .ver-mas .uil-minus {
    display: none;
}
button.d-flex.align-items-center.justify-content-between.btn.btn-link.collapsed:hover {
    text-decoration: none;
    font-weight: 600;
}

h2.tipo-beca {
    font-family: var(--familia-titulos);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.26px;
    padding-bottom: 8px;
}
a.opcion-tipo-becas {
    color: #f6f6f6;
    letter-spacing: 0.54px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 12px;
}
a.opcion-tipo-becas.active {
    font-weight: 800;
    letter-spacing: 0.54px;
    text-decoration: underline 4px var(--primario-cyan);
    width: 100%;
    display: block;
    text-underline-offset: 4px;
}
.el-formulario {
    display: flex;
}
.los-requisitos{
    display: flex;
}

#inscripcion label {
    font-weight: bold;
    letter-spacing: 0.29px;
    margin-bottom: 0px;
}
#inscripcion .form-control{
    border: none;
    border-radius: unset;
    border-bottom: 1px solid var(--primario-cyan);
    background: transparent;
}
#inscripcion .form-control::placeholder {
    color: #ededed;
    font-weight: 300;
}
#inscripcion select {
    color: #e3e3e3;
}
#inscripcion .form-group {
    margin-bottom: 0.8rem;
}
select#interes option {
    background: var(--primario--azul-obscuro);
}
.regresa-requistos {
    position: absolute;
    bottom: 45px;
}
.regresa-requisitos a {
    color: var(--primario-cyan)!important;
    text-decoration: underline!important;
    cursor: pointer;
    bottom: 50px;
    position: absolute;
    left: 70px;
}
.desaparece-menu{
    transition: 1s ease-out;
    display: none;
}
#admisiones section#banner {
    margin-bottom: 64px;
}
#admisiones a.btn.btn-primario {
    background: linear-gradient(
90deg, rgba(37,51,244,1) 0%, rgba(136,119,242,1) 100%);
    color: #FFF;
    border-radius: 25px;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
    box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
    border: 0px;
}
#admisiones section#banner {
    margin-bottom: 60px;
}
a.mostrar-mas {
    color: var(--primario-azul);
    text-align: center;
    letter-spacing: 0.36px;
    text-decoration: underline 3px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-underline-offset: 3px;
    margin: 0 auto;
    display: block;
    min-width: 125px;
    margin-bottom: 16px;
}
.carousel-item{
    transition: transform 2s ease, opacity .5s ease-out
}
@media (max-width: 576px){
    #admisiones section#header {
        height: unset;
    }
    #proceso-revalidacion .banderas .col {
        border-right: unset;
    }
    .row.contenedor-admision.los-requisitos {
        margin: 0 auto;
    }
}