/*
BECAS
*/
#becas section#header {
    background: url(../img/becas-fondo.webp);
    height: 535px;
    margin-top: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E4F8F7;
}
#becas section#calcula-beca {
    margin: unset;
    padding-top: 80px;
    background: linear-gradient(
        180deg, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 29%, rgba(227,227,227,1) 56%, rgba(227,227,227,1) 92%, rgba(255,255,255,1) 100%);
    padding-bottom: 30px;
}

section#preguntas-frecuentes {
    background: var(--primario--azul-obscuro);
    color: var(--primario-cyan);
    padding: 40px;
}
p.preguntas {
    color: #f6f6f6;
    font-weight: 300;
    font-family: 'Nunito Sans';
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 25px;
}
h1.preguntas-frecuentes {
    font-family: var(--familia-titulos);
    font-size: 36px;
    letter-spacing: 0.58px;
    font-weight: 800;
    line-height: 46px;
}
.myaccordion {
    margin-bottom: 22px;
}
.myaccordion button.d-flex.align-items-center.justify-content-between.btn.btn-link {
    width: 100%;
}
.myaccordion .card-header {
    background-color: var(--primario--azul-obscuro);
    border-bottom: 1px solid var(--primario-cyan);
}
.myaccordion button.d-flex {
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.07px;
}
.myaccordion button.d-flex[aria-expanded="true"] {
    color: cyan;
}
.myaccordion p {
    font-family: 'Nunito Sans';
    color: #f6f6f6;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    letter-spacing: 0.05px;
}
.myaccordion .card-header {
    padding: .75rem 0rem;
}
.myaccordion .card-body {
    background: var(--primario--azul-obscuro);
}
.myaccordion .ver-mas i.uil.uil-plus {
    color: var(--primario-cyan);
}
.myaccordion button.d-flex[aria-expanded="true"] .ver-mas .uil-plus {
    display: none;
}
.myaccordion button.d-flex[aria-expanded="true"] .ver-mas .uil-minus {
    display: block;
}
.myaccordion button.d-flex[aria-expanded="false"] .ver-mas .uil-minus {
    display: none;
}

h2.tipo-beca {
    font-family: var(--familia-titulos);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.26px;
    padding-bottom: 8px;
}
a.opcion-tipo-becas {
    color: #f6f6f6;
    letter-spacing: 0.54px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 12px;
}
a.opcion-tipo-becas.active {
    font-weight: 800;
    letter-spacing: 0.54px;
    text-decoration: underline 4px var(--primario-cyan);
    width: 100%;
    display: block;
    text-underline-offset: 4px;
}
section#beca-institucional {
    background: linear-gradient(
180deg
, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 40%, rgba(245,245,245,1) 79%, rgba(255,255,255,1) 100%);
    margin-top: unset;
    padding-top: 24px;
}
section#becas-slider{
    background: #ffffff;
}
section#becas-slider a.btn.btn-primario {
    padding: 10px 20px;
    font-size: 15px;
    width: 210px;
    display: block;
    margin: 0 auto;
}
a.btn.btn-primario.azules {
    background: #D4E4F9;
    color: #000;
    font-weight: 400;
    color: var(--primario-azul);
    font-size: 15px!important;
    box-shadow: none;
}
p.descripcion-beca {
    margin-top: 70px;
}
.botones-beca {
    margin-top: 95px;
}
.con-x{
    background: url('../img/xBecas.png');
    background-repeat: no-repeat;
    background-size: 600px;
}
.boton-adelante {
    cursor: pointer;
}
.boton-atras {
    cursor: pointer;
}
#becas section#header .container {
    padding-top: 166px;
}
body#becas section#navegacion .container {
    visibility: hidden;
}

#becas section#header {
    height: unset;
}
.img-fluid.redondear {
    border-radius: 15px;
}
@media (max-width: 576px){

    #becas section#header {
        height: unset;
    }
    #becas section#navegacion {
        height: 8px;
        min-height: unset;
    }
    section#becas-slider {
        margin-top: 24px;
    }
    .botones-beca {
        margin-top: unset;
        padding-bottom: 24px;
    }
    p.descripcion-beca {
        margin-top: 32px;
    }
    a#boton-sep{
        margin-bottom: 24px!important;
    }
}