body#archive {
    background: url(../img/blog-bg.jpg);
    /* background-color: #EDEDED; */
    background-size: contain;
    background-repeat: no-repeat;
}
section#archivo-posts {
    background: #FFF;
    padding-top: 60px;
}
.row.un-post {
    margin-bottom: 80px;
}
.archivo-thumb .wp-post-image {
    z-index: 1;
    position: relative;
}
.archivo-thumb::before {
    border: 4px solid var(--primario-cyan);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-18px,18px);
    transition: transform 100ms ease-in-out;
    z-index: 0;
}
.archivo-thumb {
    position: relative;
    z-index: 2;
}
.buffer-blog {
    margin-top: 55vh;
}
#archive h2.titulo{
    color: #FFF;
}
#seleccion-categoria h2.description {
    color: #fff;
}
#seleccion-categoria h1.titulo {
    color: #fff;
}
.categoria-img {
    height: 352px;
    position: relative;
    background: url(../img/categoria.webp);
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    background-size: cover;
}
.categoria-img h2 {
    color: #fff;
    font-family: var(--familia-titulos);
    position: absolute;
    bottom: 12px;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 600;
    left: 12px;
    width: 54px;
}
.categoria-img:hover {
    border: 1px solid #8E99FF;
    box-shadow: -12px 18px 9px #0017FF36;
}
section#ultimas-entradas{
    background: linear-gradient(180deg, rgba(0,30,66,1) 0%, rgba(0,30,66,1) 28%, rgba(237,237,237,1) 100%);
}
section#ultimas-noticias{
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(254,254,254,1) 100%);
}
section#noticia-destacada {
    background: var(--primario--azul-obscuro);
    padding-bottom: 80px;
}
section#noticia-destacada h1.titulo {
    color: var(--primario-cyan);
    padding-top: 30px;
}
section#noticia-destacada h2.description {
    color: #e3e3e3;
}
.bloque-entrada-blog {
    position: relative;
}
.bloque-entrada {
    background: #fff;
    border-radius: 15px;
    width: 306px;
    padding: 20px;
    height: 333px;
    float: right;
    margin-top: -140px;
    position: relative;
    box-shadow: -4px 9px 6px 0px rgb(12 34 245 / 15%);
}
.bloque-flecha {
    height: 60px;
    background: cyan;
    position: relative;
}
section#ultimas-entradas h1.titulo {
    color: var(--primario-cyan);
}
section#ultimas-entradas h2.description {
    color: #e3e3e3;
    font-weight: 200;
}
section#ultimas-noticias{
    margin-top: unset;
    padding-top: 60px;
}
span.meta.fecha {
    position: absolute;
    top: -17px;
    right: 0px;
    background: var(--primario--azul-obscuro);
    padding: 8px 2px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    height: 36px;
    width: 120px;
    text-align: center;
}
span.meta.categoria {
    color: var(--primario-azul);
    font-size: 18px;
    margin-bottom: 24px;
    display: block;
}
h2.titulo-entrada-destacada {
    font-size: 30px;
    font-family: 'Lexend Exa';
    color: #D4E4F9;
}
.bloque-entrada-blog h2.titulo {
    color: #000!important;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 25px;
}
.bloque-entrada p {
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.2px;
    hyphens: auto;
}

.autor-destacada {
    height: 78px;
    background: url(../img/x-elemento.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #e3e3e3;
    padding: 7px;
    padding-left: 24px;
}
.destacada-post {
    height: 389px;
    background: #fff;
}
.post-texto {
    padding: 22px 30px;
}
.post-texto p {
    font-size: 24px;
    line-height: 36px;
}
.bloque-entrada-blog h2.titulo a {
    color: #000;
    hyphens: auto;
    font-size: 21px;
}
h2.titulo-entrada-destacada a {
    color: #D4E4F9;
    letter-spacing: -2px;
    font-weight: 300;
}
h2.titulo-entrada-destacada a:hover {
    text-decoration: none;
    font-weight: 400;
}
h1.blog-titulo a {
    color: #000;
    font-family: 'Lexend Exa';
    letter-spacing: -4.5px;
    font-size: 35px;
    font-weight: 600;
}
.meta-blog-autor a {
    color: var(--primario-azul);
    font-weight: 700;
}
a.leer-mas {
    text-align: right;
    display: block;
    text-decoration: underline;
    color: var(--primario-azul);
    font-weight: 700;
    letter-spacing: 0.5px;
    bottom: 1px;
    position: absolute;
    right: 1px;
}
.link-flecha {
    font-size: 53px;
    color: var(--primario--azul-obscuro);
    position: absolute;
    top: -7px;
    left: 5px;
}
.archivo-thumb {
    position: relative;
    z-index: 1;
    width: 96%;
}
.archivo-fecha {
    position: absolute;
    z-index: 3;
    background: var(--primario-azul);
    top: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    color: #FFF;
}
.archivo-fecha span.numero {
    display: block;
    text-align: center;
    font-size: 45px;
    height: 52px;
}
.archivo-fecha span.mes {
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}