body#blog {
    background: url(../img/blog-bg.jpg);
    /* background-color: #EDEDED; */
    background-size: contain;
    background-repeat: no-repeat;
}
section#archivo-posts {
    background: #FFF;
    padding-top: 60px;
}
.row.un-post {
    margin-bottom: 80px;
}
.archivo-thumb .wp-post-image {
    z-index: 1;
    position: relative;
}
.archivo-thumb::before {
    border: 4px solid var(--primario-cyan);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-18px,18px);
    transition: transform 100ms ease-in-out;
    z-index: 0;
}
.archivo-thumb {
    position: relative;
    z-index: 2;
}
.buffer-blog {
    margin-top: 55vh;
}
#archive h2.titulo{
    color: #FFF;
}
#seleccion-categoria h2.description {
    color: #fff;
}
#seleccion-categoria h1.titulo {
    color: #fff;
}
.categoria-img {
    height: 145px;
    position: relative;
    background: var(--primario--azul-obscuro);
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    background-size: cover;
}
.categoria-img h2 {
    color: #fff;
    font-family: var(--familia-titulos);
    position: absolute;
    bottom: 12px;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 600;
    left: 12px;
    width: 54px;
}
.categoria-img:hover {
    border: 1px solid #8E99FF;
    box-shadow: -12px 18px 9px #0017FF36;
}
section#ultimas-entradas{
    background: linear-gradient(180deg, rgba(0,30,66,1) 0%, rgba(0,30,66,1) 28%, rgba(237,237,237,1) 100%);
}
section#ultimas-noticias{
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(254,254,254,1) 100%);
}
section#noticia-destacada {
    background: var(--primario--azul-obscuro);
    padding-bottom: 80px;
}
section#noticia-destacada h1.titulo {
    color: var(--primario-cyan);
    padding-top: 30px;
}
section#noticia-destacada h2.description {
    color: #e3e3e3;
}
.bloque-entrada-blog {
    position: relative;
}
.bloque-entrada {
    background: #fff;
    border-radius: 15px;
    width: 306px;
    padding: 20px;
    height: 333px;
    float: right;
    margin-top: -140px;
    position: relative;
    box-shadow: -4px 9px 6px 0px rgb(12 34 245 / 15%);
}
.bloque-flecha {
    height: 60px;
    background: cyan;
    position: relative;
}
section#ultimas-entradas h1.titulo {
    color: var(--primario-cyan);
}
section#ultimas-entradas h2.description {
    color: #e3e3e3;
    font-weight: 200;
}
section#ultimas-noticias{
    margin-top: unset;
    padding-top: 60px;
}
span.meta.fecha {
    position: absolute;
    top: -17px;
    right: 0px;
    background: var(--primario--azul-obscuro);
    padding: 8px 2px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    height: 36px;
    width: 160px;
    text-align: center;
}
span.meta.categoria {
    color: var(--primario-azul);
    font-size: 18px;
    margin-bottom: 24px;
    display: block;
}
h2.titulo-entrada-destacada {
    font-size: 30px;
    font-family: 'Lexend Exa';
    color: #D4E4F9;
}
.bloque-entrada-blog h2.titulo {
    color: #000!important;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 25px;
}
.bloque-entrada p {
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.2px;
    hyphens: auto;
}

.autor-destacada {
    height: 78px;
    background: url(../img/x-elemento.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #e3e3e3;
    padding: 7px;
    padding-left: 24px;
}
.destacada-post {
    height: 389px;
    background: #fff;
}
.post-texto {
    padding: 22px 30px;
}
.post-texto p {
    font-size: 24px;
    line-height: 36px;
}
.bloque-entrada-blog h2.titulo a {
    color: #000;
    hyphens: auto;
    font-size: 21px;
}
h2.titulo-entrada-destacada a {
    color: #D4E4F9;
    letter-spacing: -2px;
    font-weight: 300;
}
h2.titulo-entrada-destacada a:hover {
    text-decoration: none;
    font-weight: 400;
}
h1.blog-titulo a {
    color: #000;
    font-family: 'Lexend Exa';
    letter-spacing: -4.5px;
    font-size: 35px;
    font-weight: 600;
}
.meta-blog-autor a {
    color: var(--primario-azul);
    font-weight: 700;
}
a.leer-mas {
    text-align: right;
    display: block;
    text-decoration: underline;
    color: var(--primario-azul);
    font-weight: 700;
    letter-spacing: 0.5px;
    bottom: 1px;
    position: absolute;
    right: 1px;
}
.link-flecha {
    font-size: 53px;
    color: var(--primario--azul-obscuro);
    position: absolute;
    top: -7px;
    left: 5px;
}
.archivo-thumb {
    position: relative;
    z-index: 1;
    width: 96%;
}
.archivo-fecha {
    position: absolute;
    z-index: 3;
    background: var(--primario-azul);
    top: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    color: #FFF;
}
.archivo-fecha span.numero {
    display: block;
    text-align: center;
    font-size: 45px;
    height: 52px;
}
.archivo-fecha span.mes {
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}
.contenido-post {
    font-weight: 400;
    font-family: 'Nunito Sans';
    font-size: 16px;
}
.post-titulo a {
    color: var(--azul-primario);
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
}
#entrada-blog span.meta-blog-autor {
    color: var(--primario-azul);
    font-weight: 800;
    line-height: 22px;
    padding-bottom: 16px;
    display: block;
}
#entrada-blog .archivo-thumb {
    margin-bottom: 28px;
}
#entrada-blog .meta-articulo {
    margin-bottom: 24px;
}
#entrada-blog h1.post-titulo {
    margin-bottom: 36px;
}
#entrada-blog .meta-articulo {
    color: var(--primario-azul);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.18px;
}
#entrada-blog h1.titulo a {
    color: var(--primario-azul);
    text-decoration: none;
    letter-spacing: -4px;
    font-weight: 500;
}
#entrada-blog h1.titulo.navegacion a {
    font-size: 20px;
    font-family: var(--familia-general);
    font-weight: 600;
    letter-spacing: 0px;
}
#entrada-blog h1.titulo.navegacion {
    font-size: 22px;
}
h2.post-categorias {
    font-family: 'Nunito Sans';
    text-transform: uppercase;
    font-size: 21px;
    color: var(--primario-azul);
    border-bottom: 3px solid;
    font-weight: 800;
}
h2.titulo-entrada {
    font-weight: 700;
    font-size: 22px;
}
#interesar h2.titulo-entrada {
    padding-top: 16px;
}
#interesar h2.titulo-entrada a {
    color: var(--primario--azul-obscuro);
}
#interesar span.fecha {
    color: var(--primario--azul-obscuro);
    font-family: 'Nunito Sans';
    font-size: 17px;
}
div#categoria-sel {
    background: var(--primario-azul);
    text-align: center;
    color: #FFF;
    height: 46px;
    font-size: 22px;
    letter-spacing: -2px;
    font-family: var(--familia-titulos);
    padding: 6px 16px;
    border: none;
}
select.categoria-sel {
    background: var(--primario-azul);
    text-align: center;
    color: #FFF;
    height: 46px;
    font-size: 22px;
    letter-spacing: -2px;
    font-family: var(--familia-titulos);
    padding: 6px 16px;
    width: 100%;
    border: none;
}
select#seleccioncategoria-sel {
    text-align-last: center;
    appearance: none;
    background: url(../img/Flecha_Down.webp) no-repeat right var(--primario-azul);
    background-position-x: 95%;
    padding-right: 45px;
    border: none;
}
select#seleccioncategoria-sel:focus-visible {
    outline: none;
}
.pagination{
    justify-content: center;
}
#seleccionperiodo option {
    text-transform: capitalize;
}
select#seleccionperiodo {
    text-transform: capitalize;
}

.notas {
    color: var(--primario-azul);
    font-family: 'Nunito Sans';
    font-weight: 400;
    line-height: 24px;
    border-bottom: 2px solid;
    margin-bottom: 16px;
}
.notas p {
    margin-bottom: 6px;
}
.notas h2 {
    font-size: 18px;
}
.referencias {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito Sans';
    color: var(--primario--azul-obscuro);
    line-height: 24px;
    border-bottom: 1px solid var(--primario--azul-obscuro)!important;
}
.referencias h2 {
    font-size: 18px;
}
.referencias p {
    margin-bottom: 6px;
}
.lateral-categorias li {
    color: #000;
    list-style: none;
    width: 100%;
    display: block;
}
.lateral-categorias li a {
    color: #000;
    font-size: 20px;
}
.lateral-categorias li a:hover {
    margin-left: 10px;
    width: 100%;
}
h2.comments-title {
    font-size: 18px;
    font-weight: 800;
}
.buscar {
    text-align: right;
}
input#busqueda-blog {
    border: none;
    border-bottom: 2px solid var(--primario-cyan);
    color: #fff;
    width: 100%;
    padding-left: 30px;
    background: url(../img/buscar.svg);
    background-repeat: no-repeat;
}
input#busqueda-blog::placeholder {
    color: #FFF;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 18px;
    background-repeat: no-repeat;
}
input#busqueda-blog:focus-within {
    outline: none;
}

section#integrate {
    background: linear-gradient(
180deg
, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 20%, rgba(237,237,237,1) 80%, rgba(255,255,255,1) 100%);
}
#blog section#anuncio {
    background: #FFF;
    padding-top: 75px;
    margin-top: unset;
}
.meta-iconos {
    bottom: 8px;
    position: absolute;
    color: var(--primario-azul);
}
a.btn.btn-primario {
    background: linear-gradient( 
90deg
 , rgba(37,51,244,1) 0%, rgba(136,119,242,1) 100%);
    color: #FFF;
    border-radius: 25px;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
    box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
    border: 0px;
}

h2.interesar {
    color: var(--primario-azul);
    padding-bottom: 32px;
    font-weight: 400;
    font-family: var(--familia-titulos);
    font-size: 24px;
}
.social-box i {
    color: var(--primario-azul);
    font-size: 24px;
}
span.compartir{
        float: left;
        color: var(--primario-azul);
        font-weight: 600;
        font-size: 24px;
        padding-right: 16px;
}

/* Comentarios : @TODO: Remover y pasara a archivo separado comentarios.css */ 
#respond { 
    background: #fbfbfb;
    padding: 25px;
    }
      
    /* Highlight active form field */
      
#respond input[type=text], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
       
       
#respond input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 2px solid rgba(81, 203, 238, 1);
}
.comment-body {
    background: #FBFBFB;
    margin: 9px;
    padding: 8px;
}
.odd .comment-body {
    background: #f1f1f1;
}
.comment-author.vcard {
    line-height: 18px;
}
p.form-submit {
    text-align: right;
}
.comment-meta.commentmetadata {
    line-height: 18px;
}
img.avatar {
    float: left;
    margin-right: 20px;
}
#author, #email { 
    font-family: "Open Sans", "Droid Sans", Arial;
    font-style:italic;
    color:#1d1d1d; 
    letter-spacing:.1em;
} 
          
#url  { 
    color: #1d1d1d;
    font-family: "Luicida Console", "Courier New", "Courier", monospace; 
} 
p.comment-form-comment {
    width: 100%;
    float: left;
}
textarea#comment {
    width: 100%;
}
p.comment-form-author {
    width: 50%;
    float: left;
    padding: 10px;
}
input#author {
    width: 100%;
}
p.comment-form-email {
    width: 50%;
    float: left;
    padding: 10px;
}
input#email {
    width: 100%;
}
.reply {
    text-align: right!important;
}
ol.comment-list {
    list-style: none;
}
ol.children {
    list-style: none;
}
#comentarios input#submit {
    background: #d4e4f9;
    border: none;
    border-radius: 38px;
    padding: 8px 30px;
    color: var(--primario-azul);
    font-weight: 600;
}
.alignleft {
    float: left;
    padding: 15px;
}