body#archive {
    background: url(../img/blog-bg.jpg);
    /* background-color: #EDEDED; */
    background-size: contain;
    background-repeat: no-repeat;
}
.buffer-blog {
    margin-top: 55vh;
}
#archive h2.titulo{
    color: #FFF;
}
#seleccion-categoria h2.description {
    color: #fff;
}
#seleccion-categoria h1.titulo {
    color: #fff;
}
.categoria-img {
    height: 352px;
    position: relative;
    background: url(../img/categoria.webp);
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    background-size: cover;
}
.categoria-img h2 {
    color: #fff;
    font-family: var(--familia-titulos);
    position: absolute;
    bottom: 12px;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 600;
    left: 12px;
    width: 54px;
}
.categoria-img:hover {
    border: 1px solid #8E99FF;
    box-shadow: -12px 18px 9px #0017FF36;
}
section#ultimas-entradas{
    background: linear-gradient(180deg, rgba(0,30,66,1) 0%, rgba(0,30,66,1) 28%, rgba(237,237,237,1) 100%);
}
section#ultimas-noticias{
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(254,254,254,1) 100%);
}
section#noticia-destacada {
    background: var(--primario--azul-obscuro);
}
section#noticia-destacada h1.titulo {
    color: var(--primario-cyan);
    padding-top: 30px;
}
section#noticia-destacada h2.description {
    color: #e3e3e3;
}
.bloque-entrada-blog {
    position: relative;
}
.bloque-entrada {
    background: #fff;
    border-radius: 15px;
    width: 306px;
    padding: 20px;
    height: 333px;
    float: right;
    margin-top: -140px;
    position: relative;
    box-shadow: -4px 9px 6px 0px rgb(12 34 245 / 15%);
}
.bloque-flecha {
    height: 60px;
    background: cyan;
    position: relative;
}
section#ultimas-entradas h1.titulo {
    color: var(--primario-cyan);
}
section#ultimas-entradas h2.description {
    color: #e3e3e3;
    font-weight: 200;
}
section#ultimas-noticias{
    margin-top: unset;
    padding-top: 60px;
}
span.meta.fecha {
    position: absolute;
    top: -17px;
    right: 0px;
    background: var(--primario--azul-obscuro);
    padding: 8px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    height: 36px;
    width: 120px;
    text-align: center;
}
span.meta.categoria {
    color: var(--primario-azul);
    font-size: 18px;
    margin-bottom: 24px;
    display: block;
}
.bloque-entrada-blog h2.titulo {
    color: #000!important;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 25px;
}
.bloque-entrada p {
    font-weight: 500;
}

.autor-destacada {
    height: 78px;
    background: url(../img/x-elemento.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #e3e3e3;
}
.destacada-post {
    height: 389px;
    background: #fff;
}
.post-texto {
    padding: 22px 30px;
}
.post-texto p {
    font-size: 24px;
    line-height: 36px;
}