section#video-testimonial {
    background: var(--primario--azul-obscuro);
    color: #f6f6f6;
}
h2.titulo-testimonial {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.22px;
    color: #f6f6f6;
    margin-bottom: 46px;
    margin-top: 10px
}
section#video-testimonial {
    background: var(--primario--azul-obscuro);
    color: #f6f6f6;
    background-image: url(../img/video-bg.webp);
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-size: contain;
    background-position-x: -158px;
}
section#video-testimonial h1 {
    color: var(--primario-cyan);
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-top: 26px;
    font-family: var(--familia-titulos);
}
section#video-testimonial p {
    max-width: 440px;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0.26px;
    margin-bottom: 40px;
}
.video-btn {
    height: 55px;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
}
i.fas.fa-play {
    display: flex;
    /* text-align: center; */
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
}
button.btn.btn-primary.video-btn {
    position: absolute;
    left: 43%;
    bottom: 30%;
}
.un-testimonio {
    position: relative;
}