body#ssp{
    background: #EFEFEF;
    background-image: url('../img/landing-ssp.webp');
    background-size: contain;
    background-repeat: no-repeat;

}
body#ssp #informacion-general h1.nombre-programa {
    font-family: var(--familia-general);
    font-weight: 100;
    font-size: 54px;
}
body#licenciatura\ en\ seguridad\ pública #informacion-general h1.nombre-programa{
    font-family: var(--familia-general);
    font-weight: 100;
    font-size: 54px;
}
body#licenciatura\ en\ seguridad\ pública{
    background: #EFEFEF;
    background-image: url('../img/landing-ssp.webp');
    background-size: contain;
    background-repeat: no-repeat;

}
section#informacion-general {
    margin-top: 0px;
}
section#formulario-interes-landing {
    background: var(--primario--azul-obscuro);
    padding-bottom: 20px;
    top: 0;
    position:sticky;
    z-index:9;
}
#informacion-general img.icono {
    width: 43px;
    display: block;
    margin-top: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.negro{
    color: #000!important;
}

span.descripcion {
    color: var(--primario-cyan);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Georama', sans-serif;
    font-size: 30px
}
h2.frase-heroica {
    font-weight: 700;
    font-family: 'Georama', sans-serif;
    font-size: 36px;
    color: #FFF;
    padding-top: 32px;
    font-style: italic;
    letter-spacing: 2px;
}
p.descripcipn-programa {
    color: #FFF;
    font-size: 21px;
    padding-top: 32px;
    padding-right: 16px;
    font-weight: 200;
}
button.enviar-landing {
    background: var(--primario-azul);
    border: none;
    border-radius: 26px;
    padding: 5px 40px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    color: #FFF;
    margin-top: 24px;
    font-size: 21px;
    min-width: 335px;
}
#formulario-interes-landing label {
    color: #FFF;
}
#por-que-elegir span {
    display: block;
    text-align: center;
}
span.pregunta-sin-enfasis {
    font-weight: 400;
    font-size: 30px;
    color: var(--primario--azul-obscuro);
}
span.pregunta-con-enfasis {
    font-weight: 800;
    font-size: 30px;
    color: var(--primario-azul);
}
.bloque-puntos-clave {
    background: var(--primario-azul);
    border-radius: 10px;
    height: 175px;
    position: relative;
    box-shadow: 0px 0px 20px 6px #2e2e2e36;
    margin-top: 20px;
    padding-left: 20px;
}
h3.keypoint {
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    /* padding-left: 20px; */
    line-height: 20px;
    padding-top: 50px;
}
span.informacion-secundaria {
    font-weight: 300;
    color: var(--primario-cyan);
    /* padding-left: 20px; */
}
p.en-pragmaflex{
    padding: 0px 22px;
    color: #fff;
    font-size: 14px;
}
span.informacion-secundaria.en-rvoe {
    font-size: 13px;
    font-weight: 400;
    width: 130px;
    display: block;
}
span.en-pragmaflex {
    color: #FFF;
}
.del-por-que .iconos {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.del-por-que p {
    text-align: center;
    font-weight: 300;
}
.col-md-3.del-por-que {
    margin: 0 auto;
    background: blue;
    flex: 0 0 31%;
    max-width: 31%;
    padding: 16px 10px 0px 16px;
    border-radius: 10px;
}
.boton-flotante {
    width: 70px;
    height: 70px;
    background: #25d366;
    border-radius: 133px;
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    right: 40px;
    align-self: self-start;
}
.wa-el-boton{
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z'/%3E %3C/svg%3E") 50% no-repeat;
    width: 70%;
    height: 70%;
    margin: 10px auto;
}
#informacion-general .col-md-2 {
    margin: 0px 32px;
}
#informacion-general .col-lg-2 {
    margin: 0px 32px;
}
#formulario-interes-landing h1 {
    color: #FFF;
    padding-top: 24px;
    padding-bottom: 16px;
    font-family: 'Georama', sans-serif;
}
section#el-por-que {
    /* background: var(--primario-azul); */
    color: #FFF;
    padding: 40px;
}
h2.podras{
    font-family: 'Georama', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
ul.podras-trabajar-en {
    font-size: 21px;
    font-weight: 300;
}
h1.text-center.el-porque {
    color: var(--primario--azul-obscuro);
    font-family: 'Georama';
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 24px;
}
p.texto-por-que {
    font-size: 24px;
    font-weight: 300;
}
a.tipo-boton {
    background: linear-gradient(
90deg, rgba(37,51,244,1) 0%, rgba(136,119,242,1) 100%);
    color: #FFF;
    padding: 3px 29px;
    border-radius: 22px;
}
h2.sigla-programa {
    font-family: 'Georama';
    font-weight: 800;
}
h3.nombre {
    line-height: 38px;
}
h1.relacionados {
    color: var(--primario-azul);
    font-weight: 800;
    padding-bottom: 16px;
}
h2.sigla-programa {
    font-weight: 800;
}
h3.keypoint:after {
    border-bottom: 2px solid cyan;
    content: '';
    width: 50px;
    display: block;
}
img.el-icono {
    width: 35px;
}
.el-whatsapp {
    position: relative;
}
span.de-contacto {
    position: absolute;
    color: #FFF;
    font-size: 16px;
    width: 150px;
    left: 110px;
}
img.el-icono {
    width: 50px;
}
span.el-telefono {
    font-weight: 800;
    font-family: 'Georama';
    font-size: 30px;
    color: #FFF;
    position: absolute;
    width: 220px;
    top: 10px;
}
.navegacion-botones {
    visibility: hidden;
}
.bloque-descarga {
    background: var(--primario--azul-obscuro);
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    height: 90px;
    letter-spacing: 1px;
    margin-top: 16px;
}
.bloque-descarga p {
    font-size: 16px;
    font-family: 'Georama';
    font-weight: 300;
    line-height: 26px;
}
img.icono-descargar {
    width: 22px;
    position: absolute;
    right: 12px;
    bottom: 32px;
}
#informacion-general a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 900px) {
    body {
        background-size: cover;
    }
    .bloque-puntos-clave {
        margin-bottom: 20px;
    }
    h2.frase-heroica {
        /* color: var(--primario--azul-obscuro); */
    }
    p.descripcipn-programa {
        /* color: var(--primario--azul-obscuro); */
    }
    section#formulario-interes-landing{
        position: relative;
    }
    .col-lg-4.col-sm-12 {
        margin: 0 36px;
    }
    ul.podras-trabajar-en {
        font-size: 20px;
        font-weight: 300;
    }
}
@media only screen and (max-width: 1183px) {
    .bloque-descarga p {
        font-size: 16px;
        font-family: 'Georama';
        font-weight: 300;
        line-height: 26px;
    }
    .bloque-descarga{
        padding: 15px;
    }
    img.icono-descargar {
        bottom: 16px;
    }
}