body#ssp{
    background: #EFEFEF;
    background-image: url('../img/landing-ssp.webp');
    background-size: contain;
    background-repeat: no-repeat;

}
body#ssp #informacion-general h1.nombre-programa {
    font-family: var(--familia-general);
    font-weight: 100;
    font-size: 54px;
}
section#informacion-general {
    margin-top: 106px;
}
section#formulario-interes-landing {
    background: var(--primario--azul-obscuro);
    padding-bottom: 20px;
    top: 0;
    position:sticky;
    z-index:9;
}
#informacion-general img.icono {
    width: 43px;
    display: block;
    margin-top: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}


span.descripcion {
    color: var(--primario-cyan);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Georama', sans-serif;
    font-size: 30px
}
h2.frase-heroica {
    font-weight: 700;
    font-family: 'Georama', sans-serif;;
    font-size: 36px;
    color: #FFF;
    padding-top: 32px;
    font-style: italic;
}
p.descripcipn-programa {
    color: #FFF;
    font-size: 21px;
    padding-top: 32px;
    padding-right: 16px;
    font-weight: 200;
}
button.enviar-landing {
    background: var(--primario-azul);
    border: none;
    border-radius: 26px;
    padding: 5px 40px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    color: #FFF;
    margin-top: 24px;
    font-size: 21px;
    min-width: 335px;
}
#formulario-interes-landing label {
    color: #FFF;
}
#por-que-elegir span {
    display: block;
    text-align: center;
}
span.pregunta-sin-enfasis {
    font-weight: 400;
    font-size: 30px;
    color: var(--primario-azul);
}
span.pregunta-con-enfasis {
    font-weight: 800;
    font-size: 30px;
    color: var(--primario-azul);
}
.bloque-puntos-clave {
    background: var(--primario-azul);
    border-radius: 10px;
    height: 150px;
    position: relative;
    box-shadow: 0px 0px 20px 6px #2e2e2e36;
}
h3.keypoint {
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    width: 120px;
    padding-left: 20px;
    line-height: 20px;
    padding-top: 60px;
}
span.informacion-secundaria {
    font-weight: 300;
    color: var(--primario-cyan);
    padding-left: 20px;
}
#informacion-general .col-md-2 {
    margin: 0px 32px;
}
#formulario-interes-landing h1 {
    color: #FFF;
    padding-top: 24px;
    padding-bottom: 16px;
}