/* Estilos Programas academicos */

span.rotate{
  font-family: 'Hepta Slab', serif;
    font-size: 24px;
    font-weight: 300;
}
img.comillas {
  position: absolute;
  left: 46%;
  bottom: -18px;
  background: #FFF;
  padding: 0 2%;
}
#frases-diferenciadoras .frase {
  border-bottom: 1px solid var(--primario-azul);
  min-height: 145px;
}
.texto-que-vas{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
h3.que-vas{
    font-size: 24px;
}
h3.que-ofrece-laboral{
  font-size: 24px;
  font-weight: 300;
}
.pre-video {
  cursor: pointer;
}
.pre-video:hover {
  opacity: 0.8;
}
.descripcion-programa ul {
    margin-top: 8px;
}
section#videos-testimoniales {
  background: linear-gradient(180deg, rgba(220,232,248,1) 0%, rgba(255,255,255,1) 100%);
  margin-bottom: 6git 0px;
}
.descripcion-materia p {
  font-weight: 300;
  min-height: 145px;
}
h2.materia {
  min-height: 45px;
  line-height: 25px;
}
span.badge.rounded-pill.bg-success {
  color: #fff;
  font-weight: 600;
  display: block;
  width: 100px;
  border-radius: 0px!important;
  white-space: break-spaces;
}
span.badge.rounded-pill.bg-success.sec {
  width: 100%;
  background: #FFF!important;
  color: var(--primario--azul-obscuro);
  margin-bottom: 10px;
}
a.button-primary {
  line-height: 32px;
}
.bloque-materia {
  /* min-height: 318px; */
}
.descripcion-materia {
  /* min-height: 145px; */
  display: none;
}
select#seleccionperiodo option{
  text-transform: capitalize;

}
select#seleccionperiodo:active {
  text-transform: capitalize!important;
}
h2.tipo-oferta {
  text-align: center;
  max-width: 390px;
  color: var(--primario--azul-obscuro);
  font-size: 20px;
}
p.descripcion-programa{
  color: var(--primario-azul);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  margin-top: 0px;
  line-height: 22px;
}
.descripcion-programa{
  color: var(--primario-azul);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.6px; /* Modif RUY */
  margin-top: 0px;
  line-height: 22px;
}
p#RVOE {
  /* margin-top: 32px; */
  color: var(--primario-azul);
  padding-top: 1px; /* Modif RUY */
}
img.asesor {
  margin-top: -92px;
}


/*  Carousel de programas académicos */

#informacion-programa .formulario {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: 1.2s;
    display: block;
}
    #informacion-programa .carousel-item .mask {
    position: absolute;
    top: 0;
	  left:0;
	  height:100%;
    width: 100%;
    background-attachment: fixed;
}
#informacion-programa h4{
	/* font-size:50px; */
	margin-bottom:15px;
	color:#FFF;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#informacion-programa p{
	/* font-size:18px; */
	margin-bottom:15px;
	/* color:#d5d5d5; */
}
.descripcion-programa {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    animation-duration: 1s;
}
.MAIS .descripcion-programa {
  line-height: 20.4px;
}
/* #informacion-programa .carousel-item a{background:#F47735; padding:13px 32px; display:inline-block; } */
#informacion-programa .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#informacion-programa .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#informacion-programa .carousel-item .descripcion-programa{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#informacion-programa .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#informacion-programa .carousel-item .mask img{
    -webkit-animation-name:slideInRight;
    animation-name:slideInRight;
    display:block;
    height:auto;
}
#informacion-programa h4, #informacion-programa p, #informacion-programa a, #informacion-programa .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* #informacion-programa .container {max-width: 1430px;  } */
#informacion-programa .carousel-item{height:100%; min-height:535px; }
 #informacion-programa{position:relative; z-index:1; background:url() center center no-repeat; background-size:cover; } */

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 1.1s ease;
    transition: transform 1.1s ease;
    transition: transform 1.1s ease,-webkit-transform 1.1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: 1.1s;
	transition-duration: 1.1s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#informacion-programa a.button-primary {
    max-width: 450px!important;
    margin: unset;
}
#informacion-programa .container{
    padding-top: 178px;
}
@media (max-width: 576px) {
#informacion-programa .container {
  padding-top: 90px;
}
}
a.carousel-control-prev {
    display: none;
}
a.carousel-control-next {
    display: none;
}

span.css-sprite-flecha-bloc.flecha-ir {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*
    Optimizacion Sprites
*/

.css-sprite-Flecha_Down
{
background:url('css-sprite-combined.png') 0px -55px;
width:15px;height:9px;
display:inline-block;
}

.css-sprite-flecha-bloc
{
background:url('css-sprite-combined.png') -15px -35px;
width:29px;height:29px;
display:inline-block;
}

.css-sprite-JFC
{
background:url('css-sprite-combined.png') -44px -18px;
width:50px;height:46px;
display:inline-block;
}

.css-sprite-consultoria
{
background:url('css-sprite-combined.png') -94px -0px;
width:64px;height:64px;
display:inline-block;
}

.css-sprite-editorial
{
background:url('css-sprite-combined.png') -158px -0px;
width:64px;height:64px;
display:inline-block;
}
a.btn.btn-primario {
  background: linear-gradient(
90deg, rgba(37,51,244,1) 0%, rgba(136,119,242,1) 100%);
  color: #FFF;
  border-radius: 25px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
  box-shadow: 0px 9px 6px 0px rgb(12 34 245 / 15%);
  border: 0px;
}
section#identificador {
  width: 100%;
  min-height: 130px;
  background: radial-gradient(circle, rgba(0,30,66,1) 45%, rgba(0,24,255,1) 90%);
  margin: 120px 0px;
}
section#identificador p{
  font-weight: 300;
  font-size: 18px;
  height: 130px;
  color: #FFF;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
p.el-identificador {
  margin: 0;
  margin-top: 9px;
}
section#identificador.extra p {
  height: 165px;
}
.contenedor-identificador{
  position: relative;
}
.imagen-identificador {
  margin-top: -75px;
  position: absolute;
}
section#identificador.extra p {
  height: 160px;
}
span.destacado {
  font-family: 'Hepta Slab';
}
section#identificador p.untag{
  /* font-family: Hepta Slab; */
  color: #FFF;
}
section#identificador p.texto-identificador{
  position: absolute;
  text-align: center;
  width: 100%;
  top: -58px;
  color: var(--primario--azul-obscuro);
  font-size: 24px;
}
section#identificador p.texto-identificador{
  position: absolute;
  text-align: center;
  width: 100%;
  top: -58px;
  color: var(--primario--azul-obscuro);
  font-size: 24px;
}
@media (max-width: 768px){
  section#identificador p.texto-identificador{
    top: -75px;
  }
}
.nav-pills .nav-link {
  border-radius: 9px 0px 0px 9px;
  min-height: 75px;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, rgba(166,183,228,1) 0%, rgba(223,235,251,1) 100%);
  margin-bottom: 17px;
  box-shadow: 0px 6px 15px #0e188036;
}
#programas section#header.doctorado {
  background: url(../img/master_doctorados_iexe.webp);
}
#programas section#header.máster {
  background: url(../img/master_doctorados_iexe.webp);
}