/*

Programas

*/
section#principal {
    height: 90vh;
    margin: unset;
    background: url(../img/slider-licenciaturas.webp);
    background-size: cover;
}
section#todos-los-programas-academicos {
    margin: unset;
}
section#todos-los-programas-academicos {
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(206,224,248,1) 80%, rgba(206,224,248,1) 100%);;
}
section#licenciaturas, section#maestrias, section#doctorado, section#masters, section#diplomados, section#capacitaciones {
    margin-top: 18px;
}
#programas section#interes{
    background: linear-gradient(180deg, rgba(206,224,248,1) 0%, rgba(227,227,227,1) 16%, rgba(227,227,227,1) 97%, rgba(206,224,248,1) 100%);
    margin-top: unset;
    padding-top: 64px;
}
#programas section#anuncio {
    background: linear-gradient(
180deg
, rgba(206,224,248,1) 0%, rgba(206,224,248,1) 100%);
}
#programas section#vinculos {
    background: #cee0f8;
    margin-top: unset;
    padding-top: 64px;
    padding-bottom: 64px;
}
#programas section#pie{
    margin-top: unset;
}
.imagen-principal-completa {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-licenciaturas.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #licenciaturas .row.contenedor-programa {
    background: url(../img/oferta-licenciaturas.webp);
    min-height: 300px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 26px;
}
h1.nombre-programa {
    color: #FFF;
    font-family: var(--familia-titulos);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.3px;
}
.contenedor-programa ul {
    margin-bottom: 0;
    padding-bottom: 0px;
}
.contenedor-programa ul li a {
    color: #e3e3e3;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 36px;
}
.contenedor-programa li {
    list-style: square;
    color: var(--primario-cyan);
}
.contenedor-programa i.cyan {
    color: var(--primario-cyan);
    font-size: 40px;
}
.row.contenedor-programa{
    min-height: 300px;
    background-repeat: no-repeat!important;
    border-radius: 15px;
    padding: 26px;
    padding-bottom: 0px;
}
#masters .row.contenedor-programa {
    background: url(../img/oferta-master.webp);
}
#maestrias .row.contenedor-programa {
    background: url(../img/oferta-maestrias.webp);
}
#doctorado .row.contenedor-programa {
    background: url(../img/oferta-doctorados.webp);
}
#diplomados .row.contenedor-programa {
    background: url(../img/oferta-diplomados.webp);
}
#capacitaciones .row.contenedor-programa {
    background: url(../img/oferta-capacitaciones.webp);
}
#programas #interes #contacto .form-control {
    background: transparent;
}
/* Programas Academicos V2 */
body#Maestria\ en\ linea {
    background: url(../img/academicos-v-2/BG_iexe_Programas_MTIAS.webp);
    background-repeat: no-repeat;
}
section#header .container {
    padding: 0px;
}
section#header {
    margin-top: 80px;
}
.descripcion-programa v-2 {
    font-weight: 600;
    line-height: 24px;
}
.descripcion-programa.v-2 p {
    font-size: 15px;
    line-height: 21px;
}
div#v-pills-tab {
    margin-top: 30px;
    /* margin-bottom: 6px; */
}
section#header a.button-primary.v-2 {
    max-width: unset;
}
.nav-pills .nav-link {
    border-radius: 9px 0px 0px 9px;
    min-height: 75px;
    min-width: 185px;
    margin-left: -16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: var(--primario--azul-obscuro);
    line-height: 18px;
    font-weight: 300;
    position: relative;
  }
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    background: linear-gradient(90deg, rgba(164,182,227,1) 0%, rgba(196,207,237,1) 68%, rgba(230,235,247,1) 100%);
    margin-bottom: 17px;
    box-shadow: 0px 6px 15px #0e188036;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primario--azul-obscuro);
    font-weight: 800;
}
  .informacion-programa.v-2 {
    padding: 9px;
    box-shadow: 0px 6px 15px #0e188036;
    border-radius: 18px;
    padding-left: 45px;
    background: url(../img/x-bg.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 202px) 0px;
    padding-bottom: 0px;
    position: relative;
    background: #FFF;
}
h2.tipo-oferta.v-2 {
    font-family: 'aktiv-grotesk-extended';
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 6px;
}
img.identificador-nuevo.v-2 {
    margin-top: -90px;
    margin-left: -65px;
}
.nav-pills .nav-link.active:after {
    content: '';
    background: var(--primario-azul);
    height: 79px;
    width: 9px;
    position: absolute;
    right: 0px;
}
img.lo-que-vas {
    margin-left: 16px;
}
img.donde-puedes.v-2 {
    margin-top: -52px;
    margin-left: -65px;
}
img.img-fluid.pragmaflex {
    max-width: 300px;
}
img.img-fluid.pre-video.v-2 {
    border: 1px solid #000;
}
img.img-fluid.pre-video {
    display: block;
    z-index: 5;
    position: relative;
    border: 1px solid #000;
}
a.in-video {
    display: block;
    z-index: 2;
    position: relative;
}
a.in-video:before {
    content: '';
    border: 4px solid var(--primario-cyan);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    transform: translate(-15px, 15px);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.boton-descarga-plan span {
    color: #fff;
    font-weight: 200;
}
p.descarga {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 0px;
}
.boton-descarga-plan {
    background: var(--primario--azul-obscuro);
    border-radius: 9px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 7px;
}
.row.materias {
    background: #EAEAEA;
}
h2.trimestre {
    background: #DBDDDE;
    padding: 5px;
    font-family: 'aktiv-grotesk-extended';
    font-size: 21px;
    font-weight: 300;
    margin: 25px 20px 15px;
}
.materias .v-2 li:before {
    content: "•";
    font-size: 12px;
    vertical-align: 2px;
    line-height: 0px;
    margin-left: -10px;
    padding-right: 4px;
}
.materias .v-2 li {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.24px;
    list-style: none;
}