/*

Programas

*/
section#principal {
    height: 90vh;
    margin: unset;
    background: url(../img/slider-licenciaturas.webp);
    background-size: cover;
}
section#todos-los-programas-academicos {
    margin: unset;
}
section#todos-los-programas-academicos {
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(206,224,248,1) 80%, rgba(206,224,248,1) 100%);;
}
section#licenciaturas, section#maestrias, section#doctorado, section#masters, section#diplomados, section#capacitaciones {
    margin-top: 18px;
}
#programas section#interes{
    background: linear-gradient(180deg, rgba(206,224,248,1) 0%, rgba(227,227,227,1) 16%, rgba(227,227,227,1) 97%, rgba(206,224,248,1) 100%);
    margin-top: unset;
    padding-top: 64px;
}
#programas section#anuncio {
    background: linear-gradient(
180deg
, rgba(206,224,248,1) 0%, rgba(206,224,248,1) 100%);
}
#programas section#vinculos {
    background: #cee0f8;
    margin-top: unset;
    padding-top: 64px;
    padding-bottom: 64px;
}
#programas section#pie{
    margin-top: unset;
}
.imagen-principal-completa {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-licenciaturas.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #licenciaturas .row.contenedor-programa {
    background: url(../img/oferta-licenciaturas.webp);
    min-height: 300px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 26px;
}
h1.nombre-programa {
    color: #FFF;
    font-family: var(--familia-titulos);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.3px;
}
.contenedor-programa ul {
    margin-bottom: 0;
    padding-bottom: 0px;
}
.contenedor-programa ul li a {
    color: #e3e3e3;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 36px;
}
.contenedor-programa li {
    list-style: square;
    color: var(--primario-cyan);
}
.contenedor-programa i.cyan {
    color: var(--primario-cyan);
    font-size: 40px;
}
.row.contenedor-programa{
    min-height: 300px;
    background-repeat: no-repeat!important;
    border-radius: 15px;
    padding: 26px;
    padding-bottom: 0px;
}
#masters .row.contenedor-programa {
    background: url(../img/oferta-master.webp);
}
#maestrias .row.contenedor-programa {
    background: url(../img/oferta-maestrias.webp);
}
#doctorado .row.contenedor-programa {
    background: url(../img/oferta-doctorados.webp);
}
#diplomados .row.contenedor-programa {
    background: url(../img/oferta-diplomados.webp);
}
#capacitaciones .row.contenedor-programa {
    background: url(../img/oferta-capacitaciones.webp);
}
#programas #interes #contacto .form-control {
    background: transparent;
}