section{
    margin: 0;
}
.solid-blue{
    background: rgba(228,231,253,1)!important;
}
.solid-blue-soft{
    background: #F5F6FE!important;
}
.grad-desc{
    background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(228,231,253,1) 71%)!important;
}
.grad-asc{
    background: linear-gradient(0deg, rgba(255,255,255,1) 26%, rgba(228,231,253,1) 71%)!important;
}
h1.nombre-categoria{
    font-size: 24px;
    color: #001E42;
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: 200;
}
.logo-pie-expost{
        margin-top: -60px;
    }
.detalles-quienes{
        font-size: 15px;
        font-weight: 200;
        color: #F6f6f6;
    }
.ico-link {
    width: 50px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
h1.quienes-somos{
        font-size: 24px;
        font-weight: 800;
        font-family: 'aktiv-grotesk-extended';
    }
section#tag-top{
        background: #F5F6FE;
        padding: 25px 0px 50px 0px;
    }
h2.titulo-noticia{
        font-size: 18px;
        font-weight: 600;
        height: 80px;
    }
h2.titulo-noticia a{
        color: #273481;
    }
ul.post-categories {
    display: inline-flex;
    width: 100%;
    justify-content: start;
    text-transform: uppercase;
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: 0.4rem;
    text-align: center;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
}
.tipo-b ul.post-categories {
    padding-left: 0px;
}
ul.post-categories li a {
    color: #9AA4FF;
    font-weight: 700;
}
p.tiempo {
    font-size: 13px;
    font-weight: 800;
}
span.fecha {
    color: #B1B6D2;
    font-weight: 600;
    font-size: 13px;
}
span.reloj {
    color: #001e42;
    font-weight: 800;
    font-size: 13px;
}
span.likes-noticia {
    font-weight: 700;
    font-size: 13px;
    color: #273481;
}
span.comentarios {
    font-size: 13px;
    font-weight: 700;
}
.entrada-min{
    background: #FFF;
    border-radius: 0px 0px 15px 15px;
    padding: 0px 0px;
    box-shadow: 0px 0px 10px #ccc;
}
.meta-info img{
    height: 100%;
}
.col-md-3.entrada-min {
    margin: 0 10px;
} 
.un-post-min {
    padding-right: 14px;
    height: 400px;
} 
.info-post-min {
    padding: 12px;
    position: relative;
    height: 190px;
    padding-top: 6px;
}
p.meta-info{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    align-items: center;
}
.thumb-small {
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0017ff4d;
}
.tipo-b h2.titulo-noticia {
    font-weight: 300;
    height: 136px;
}
h2.titulo-noticia a:hover {
    font-weight: 600;
    text-decoration: none;
}
.tipo-b p.meta-info {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
}
.tipo-b h1.titulo {
    font-weight: 200;
    font-family: 'Nunito Sans';
    color: #001e42;
    text-transform: uppercase;
    font-size: 30px;
}
span.tema-autor {
    font-size: 13px;
    font-weight: 700;
    color: #99a3ff;
    text-transform: uppercase;
    font-family: 'aktiv-grotesk-extended';
    display: block;
    text-align: center;
}
p.descripcion-autor {
    font-weight: 200;
    font-size: 14px;
    color: #f6f6f6;
    text-align: justify;
    padding: 0 6px;
}
.un-autor {
    height: 396px;
    background: #02194E;
    border-radius: 15px;
    opacity: 0.9;
    padding: 12px;
    position: relative;
}
.redes-sociales-autor {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    width: 92%;
}
section.autores-destacados {
    background: #25317A;
    background-size: auto;
    padding: 33px 0px 70px 0px;
}
section.autores-destacados h1{
    font-size: 30px;
    color: #f6f6f6;
}
.un-post-destacado{
    position: relative;
    height: 408px;
}
.detalle-destacado{
    position: absolute;
}
section#blog-sub-footer{
    background: #25317A;
}
.bloque-img {
    position: relative;
    width: 84%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
.quien-tag {
    position: absolute;
    bottom: -3px;
    width: 100%;
    font-size: 21px;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    font-weight: 800;
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-size: 16px;
    color: #FFF;
}
.shadow {
    width: 100%;
    background: #001E42;
    height: 26px;
    position: absolute;
    bottom: 0px;
    opacity: 0.9;
}
section#sub-pie {
    padding-bottom: 10px;
    color: #f6f6f6;
}
#los-mas-leidos h2 {
    font-weight: 800;
    font-size: 18px;
    color: #001e42;
    height: 80px;
    line-height: 24px;
}
#los-mas-leidos h2 a{
    color: #001e42;
}
#los-mas-leidos span.numero {
    font-weight: 800;
    font-family: 'aktiv-grotesk-extended';
    font-size: 36px;
    color: #99a3ff;
}
#los-mas-leidos p.meta-info {
    position: relative;
    filter: invert(45%) sepia(58%) saturate(6296%) hue-rotate(225deg) brightness(104%) contrast(101%);
}
h2.titulo-noticia-categoria a{
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.13px;
    color: #001E42;
}
.un-single-post{
    font-weight: 300;
    letter-spacing: -0.13px;
    font-size: 18px;
}
.un-single-post{
    display: contents;
}
.un-single-post p.meta-info {
    position: relative;
    justify-content: flex-start;
}
span.min-lectura {
    font-size: 13px;
    font-weight: 700;
}
a.link-ver-mas.text-right {
    text-decoration: underline;
    font-weight: 800;
    font-size: 16px;
    color: #0018ff;
}
img.lista-archivo {
    border-radius: 9px;
    box-shadow: 0px 3px 9px #0017ff36;
}
#info-autor .container{
    border-radius: 15px;
    padding: 25px;
}
section#blog-sub-footer {
    margin-top: 0;
}
h1.post-titulo {
    font-size: 32px;
    font-weight: 800;
    color: #273481;
    text-transform: uppercase;
    line-height: 42px;
    }
    .post-titulo a {
    color: #273481;
    }
    section#entrada-blog {
    padding-top: 0px;
    }
    .contenido-post {
    color: #273481;
    }
    body#single {
    background: url(../img/blog-bg.png);
    background-repeat: repeat-x;
    margin-top: 0px;
    }
    aside {
        margin-top: 85px;
    }
    ul.in-cloud-tag {
        margin-bottom: 0;
        padding-inline-start: 0px;
    }
    .in-cloud-tag li {
        display: inline;
        margin-right: 16px;
    }
    .in-cloud-tag li a {
        text-decoration: underline;
        color: #273481;
        font-size: 14px;
        font-weight: 800;
    }
    .in-cloud-tag li::after {
        content: ',';
        font-weight: 600;
        font-size: 16px;
    }
    .in-cloud-tag li:last-child::after {
        content: '';
        font-weight: 600;
        font-size: 16px;
    }
    .container-widget h2.titulo-sidebar {
        font-size: 25px;
        font-weight: 800;
        color: #273481;
    }
    h2.titulo-sidebar {
        font-size: 25px;
        font-weight: 800;
        color: #273481;
    }
    h2.titulo-entrada a {
    font-size: 16px;
    font-weight: 700;
    color: #273481;
    text-decoration: underline;
    }
    /* .menu-nav {
        width: 100%;
        background: #FFF;
        height: 100%;
        border-right: 1px solid #273481;
    } */
    .menu-nav {
    width: 100%;
    background: #FFF;
    height: 100vh;
    border-right: 1px solid #273481;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: sticky;
    top: 0;
    padding-top:53px;
    }
    section#blog-sub-footer{
    background: #25317A;
    }
    .quien-tag {
    position: absolute;
    bottom: -3px;
    width: 100%;
    font-size: 21px;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    font-weight: 800;
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-size: 16px;
    color: #FFF;
    }
    .referencias.mt-5 {
    background: #EBEEFF;
    color: #273481;
    padding: 15px;
    word-break: break-word;
    }
    .referencias h2 {
    font-size: 15px;
    }
    a.tag-cloud-link {
    padding: 3px 5px;
    box-shadow: 0px 2px 7px #2a47eb57;
    border-radius: 6px;
    color: #273481;
    margin: 0 5px;
}
.container-widget.azul {
    background: #3051FF;
    padding: 25px;
    border-radius: 15px;
    color: #fff;
}
.container-widget p {
    font-size: 14px;
    font-weight: 300;
}
.container-widget h2 {
    font-size: 24px;
    font-weight: 700;
}
.widget {
    margin: 1em 0px 3em 0px;
    border-radius: 15px;
}
.cagb-poll {
    color: #fff;
    padding: 28px 32px;
}
.cagb-poll h3.pregunta-poll {
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    font-weight: 700;
    padding: 0px 60px;
}
ul.respuestas li {
    margin-bottom: 30px;
    font-size: 19px;
    list-style: none;
}
ul.respuestas {
    font-weight: 100;
    margin-top: 60px;
}
h2.topics {
    background: #273481;
    width: 152px;
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
    padding: 4px 20px;
    box-shadow: 0px 5px 8px #00000029;
}
.c-sombra{
    box-shadow: -3px 20px 30px #00000029;
}
p.meta-autor-mini {
    margin-bottom: 5px;
    color: #757786;
}
.meta-autor-mini a {
    color: #273481;
    font-weight: 700;
}
html {
    margin-top: 0px !important;
}
/* .topics-top {
    position: fixed;
    height: 119px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 9%;
} */
.topics-top {
    position: fixed;
    z-index: 10;
    display: block;
    width: 50px;
    right: 36px;
}
img.la-bandera {
    width: 44px;
    filter: drop-shadow(0px 5px 8px #00000029);
}
.hid{
    display: none!important;
}
a.bandera-topics {
    cursor: pointer;
}
.modal-content.bg-blanco{
    background: #FFF;
}
h1.nombre-categoria {
    font-size: 24px;
    color: #001E42;
    text-decoration: underline 1px solid;
    text-underline-offset: 8px;
    font-weight: 200;
}
h1.nombre-categoria a{
    font-size: 24px;
    color: #001E42;
    text-decoration: underline 1px solid;
    text-underline-offset: 8px;
    font-weight: 200;
}
/* section#header-blog {
    height: 350px;
    background: linear-gradient(180deg, rgba(228,231,253,1) 54%, rgba(255,255,255,1) 82%);;
} */
section#header-blog {
    height: 400px;
    background: url(https://www.iexe.edu.mx/wp-content/themes/iexe-unicorn/assets/img/finalxp.webp), linear-gradient(180deg, rgba(228,231,253,1) 54%, rgba(255,255,255,1) 82%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: right;
}
p#breadcrumbs {
    margin-top: 40px;
}
#header-blog h1{
    font-weight: 300;
    font-size: 31px;
    color: #273481;
    width: 100%;
}
img.sm-logo {
    width: 130px;
}
input.busqueda-blog {
    border-radius: 43px;
    border: 0px solid #00000029;
    box-shadow: 0px 3px 6px #00000029;
    height: 48px;
    width: 100%;
    max-width: 400px;
    background: url(../img/feather-search.svg) #FFF;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 18px;
}
input.busqueda-blog::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #273481!important;
}
input.busqueda-blog:focus {
    outline: none;
}
input.busqueda-blog:focus-visible {
    border: none;
    outline: none;
}
input.busqueda-blog {
    padding-left: 8%;
}
body#archive aside {
    margin: 0px;
    padding: 0px 16px;
}
#archive section#los-mas-leidos {
    padding-top: 50px;
}
.degradado-inverso{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(228,231,253,1) 58%)!important;
}
h3.interesar.titulo-entrada {
    line-height: 20px;
}
.container-widget h2 {
    font-size: 25px;
    font-weight: 800;
    color: #273481;
}
.widget.container-widget.azul h2 {
    color: #FFF;
}
#single h3.interesar.titulo-entrada {
    line-height: 20px;
}
#single cite.fn {
    color: #001E42;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    text-transform: capitalize;
}
#single .comment-meta.commentmetadata a {
    font-size: 12px;
    color: #001E42;
}
#single .comment-body p {
    font-weight: 600;
    font-size: 16px;
}
#single .comment-body {
    background: #FFF;
}
#single .odd .comment-body {
    background: #FFF;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
#logo-navbar{
    /* transition: all 0.3s; */
    /* transition: transform ease-out 0.3s; */

}
#busquedaModal .modal-content {
    background: #FFF;
    color: #202020;
}
#busquedaModal button.close {
    color: #282828;
    opacity: 1;
    font-weight: 100;
}
.spinner-border {
    position: absolute;
    left: 8px;
    top: 12px;
    height: 20px;
    width: 20px;
}
input.busqueda {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #a4a4a4;
    font-weight: 600;
    height: 40px;
    height: 42px;
    width: 90%;
}
.fo-autor {
    border-radius: 150px;
    width: 110px;
    border: 5px solid #3051FF;
    object-fit: contain;
    background: #3051FF;
}
input#busqueda {
    font-weight: 600;
    font-size: 27px;
    color: #001e42;
    padding-left: 35px;
}
#busquedaModal button.busc{
    border: 0;
    width: 55px;
    padding: 0;
    color: #a4a4a4;
    background-color: #fff;
    padding-bottom: 11px;
    padding-top: 6px;
    margin: 0;
    vertical-align: top;
}
#busquedaModal button.busc svg {
    width: 55px;
    height: 37px;
    border-left: 1px solid #c8c8c8;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #282828;
}
input#busqueda:focus, input#busqueda:focus-visible, input#busqueda:active, input#busqueda:target {
    background: none;
    outline: none;
}
#resultado a {
    color: #99a3ff;
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;
}
#resultado a:hover {
    font-weight: 800;
    text-decoration: none;
}
.clear-search-box {
    font-size: 11px;
    position: absolute;
    top: 16px;
    display: flex;
    right: 11%;
    color: #001e42;
    cursor: pointer!important;
    font-weight: 400;
}
ul.lista-de-busqueda {
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: underline;
    font-weight: 800;
    font-size: 12px;
    color: #001e42;
    padding-inline-start: 0px;
}
span[role] {
    cursor: pointer;
}
.cld-like-dislike-wrap {
    display: block!important;
    margin-bottom: 20px;
    text-align: right!important;
}
.fa, .fas {
    font-weight: 500;
    font-size: 14px!important;
}
span.cld-like-count-wrap.cld-count-wrap {
    font-size: 14px!important;
}
#busquedaModal .modal-body {
    padding: 10px 10%;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
@media (max-width: 760px){
    .entrada-min {
        box-shadow: unset;
    }
    .tipo-b h2.titulo-noticia {
        font-weight: 300;
        min-height: 125px;
    }
    #busquedaModal .modal-body {
        padding: 10px 3%;
    }
    #busquedaModal input.busqueda {
        width: 82%;
        padding-left: 0px;
    }
    .clear-search-box {
        right: 22%;
    }
    section#header-blog {
        background-size: cover;
    }
    input.busqueda-blog {
        padding-left: 12%;
    }
}
@media (max-width: 576px){
#menuBlog .menu-navegacion {
    margin: 0 0px 0 30px;
    width: 100%;
    height: 94%;
}
#menuBlog ul.programas-academicos {
    margin-bottom: 2vh;
    height: unset;
    width: 100%;
    margin-left: 0px;
}
.contenedor-menu {
    margin-top: 12%;
}
#menuBlog ul.programas-academicos li {
    width: 75%;
    list-style: none;
}
#menuBlog.sidenav {
    background-color: #273481!important;
    opacity: 1;
}
}